body{
  
        margin:0;
        padding:0;
        display:flex;
        justify-content: center;
        align-items: center;
        min-height: 100px;
        background:#1A237E;
    
}
.leader{
    position: relative;
    display: flex;
}
.leader span{
    width: 50px;
    height: 300px;
    margin:0 20px;
    background: #1A237E;
    animation: animate 1.2s linear infinite;

}
@keyframes animate{
   0%{
       box-shadow: 0 0 0 rgb(0,0,0,0.5);


   }
   50%{
    box-shadow: 0 20px 50px rgb(0,0,0,0.5);
    }
    100%{
        box-shadow: box-shadow: 0 0 0 rgb(0,0,0,0.5);
        }
}